name: Build & Release Desktop App

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download JBR 21.0.8 For Mac
        if: runner.os == 'macOS'
        run: |
          curl -L -o jbr.tar.gz https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk-21.0.8-osx-x64-b895.146.tar.gz
          mkdir -p /tmp/jbr/mac
          tar -xf jbr.tar.gz -C /tmp/jbr/mac
          echo "JAVA_HOME=/tmp/jbr/mac/jbrsdk-21.0.8-osx-x64-b895.146/Contents/Home" >> $GITHUB_ENV

      - name: Download JBR 21.0.8 For Linux
        if: runner.os == 'Linux'
        run: |
          curl -L -o jbr.tar.gz https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk-21.0.8-linux-x64-b895.146.tar.gz
          mkdir -p /tmp/jbr/lin
          tar -xf jbr.tar.gz -C /tmp/jbr/lin
          echo "JAVA_HOME=/tmp/jbr/lin/jbrsdk-21.0.8-linux-x64-b895.146" >> $GITHUB_ENV

      - name: Download JBR 21.0.8 For Windows
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force -Path "C:\jbr\win"
          Invoke-WebRequest -Uri "https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk-21.0.8-windows-x64-b895.146.zip" -OutFile "C:\jbr\win\jbr.zip"
          Expand-Archive -Path "C:\jbr\win\jbr.zip" -DestinationPath "C:\jbr\win"
          "JAVA_HOME=C:\jbr\win\jbrsdk-21.0.8-windows-x64-b895.146" |
             Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append

#      - name: Set up JDK 21
#        uses: actions/setup-java@v4
#        with:
#          distribution: "temurin"
#          java-version: "21"

      - name: Verify Java
        run: |
          java -version
          echo "JAVA_HOME=$JAVA_HOME"

      - name: Grant execute permission for Gradle
        if: runner.os != 'Windows'
        run: chmod +x gradlew

      - name: Build Compose uber JAR
        run: ./gradlew clean packageUberJarForCurrentOS

      - name: Resolve JAR name
        shell: bash
        run: |
          JAR_PATH=$(ls build/compose/jars/*.jar | head -n 1)
          echo "JAR_PATH=$JAR_PATH" >> $GITHUB_ENV
          echo "JAR_NAME=$(basename "$JAR_PATH")" >> $GITHUB_ENV

      # -------- WINDOWS --------
      - name: Build Windows installer
        if: runner.os == 'Windows'
        run: |
          $version = "${{ github.ref_name }}".Replace("v", "")
          jpackage `
            --type exe `
            --input build/compose/jars `
            --main-jar "$JAR_NAME" `
            --main-class MainKt `
            --name "The Guide" `
            --app-version $version `
            --vendor "Pacifique Mossi" `
            --win-menu `
            --win-shortcut `
            --win-console `
            --add-modules ALL-MODULE-PATH `
            --dest dist

      # -------- MACOS --------
      - name: Build macOS installer
        if: runner.os == 'macOS'
        run: |
          jpackage \
            --type dmg \
            --input build/compose/jars \
            --main-jar "$JAR_NAME" \
            --main-class MainKt \
            --name "The Guide" \
            --app-version ${GITHUB_REF_NAME#v} \
            --vendor "Pacifique Mossi" \
            --add-modules ALL-MODULE-PATH \
            --dest dist

      # -------- LINUX --------
      - name: Build Linux installer
        if: runner.os == 'Linux'
        run: |
          jpackage \
            --type deb \
            --input build/compose/jars \
            --main-jar "$JAR_NAME" \
            --main-class MainKt \
            --name "The Guide" \
            --app-version ${GITHUB_REF_NAME#v} \
            --vendor "Pacifique Mossi" \
            --add-modules ALL-MODULE-PATH \
            --dest dist

      - name: Upload installers to Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
